/*
xs - mobile
sm - tablet
md - laptop
lg - desktop
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quattrocento Sans', sans-serif;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    flex: 0 0 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.header {
    height: 80px;
    background-color: #1d2126;
    display: flex;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


.header .main-menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.main-menu li {
    width: 25%;
    margin-right: 10px;
    border: 1px solid transparent;
}

.main-menu a {
    text-decoration: none;
    font-size: 14px;
    line-height: 42px;
    color: #a4aead;
    font-weight: 600;
    font-family: "Open Sans";
    padding: 10px;
}

.main-menu li:hover:not(.active) {
    border: 1px solid #a4aead;
    border-radius: 5px;
}

.main-menu li.active {
    border: 1px solid #23b7a3;
    border-radius: 5px;
    text-align: center;
}

.active a {
    color: #23b7a3;

}

.content-right {
    display: flex;
    justify-content: end;
}

.search input {
    background: transparent;
}

.search {
    border: 1px solid #5a6068;
    border-radius: 5px;
    display: flex;
    width: 209px;
    margin: auto;
}

.search input,
.search button {
    border: none;
    outline: none;
}

.search input::placeholder {
    color: #a4aead;
}

.search input {
    height: 30px;
    font-family: "Open Sans";
    text-decoration: none;
    font-size: 14px;
    color: #a4aead;
    padding-left: 7px;
}

.search button {
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.banner {
    background-image: url(img/img\ \(2\).png);
    background-repeat: no-repeat;
    background-size: auto 100%;

}

.welcome-text {
    height: 700px;
    display: flex;
    align-items: center;
    align-content: center;
}

.row.align-left {
    justify-content: flex-start;
}

h2 {
    font-size: 36px;
    font-family: "Quattrocento Sans";
    font-weight: 700;
    border-left: 10px solid #e1e6ea;
    padding-left: 10px;
    text-transform: uppercase;
}

.section-header {
    margin-top: 80px;
    margin-bottom: 60px;
}

.banner h2 {
    border-left: none;
    padding-left: 0;
}


.white h2 {
    color: white;
}

p {
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 25px;
    margin: 30px 0;
}

.white p {
    color: #ccd0d7;
}

.btns {
    width: 120px;
    height: 40px;
    border: 1px solid white;
    color: white;
    background: transparent;
    border-radius: 10px;
    margin-right: 10px;
}

.btns:hover {
    background-color: #39a493;
    border: 1px solid #39a493;
}

ol.goals {
    counter-reset: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
}

ol.goals li {
    counter-increment: my-awesome-counter;
    display: flex;
    width: 100%;


}

ol.goals li::before {
    content: "0"counter(my-awesome-counter);
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-right: 17px;
    font-family: "Open Sans";
    line-height: 50px;
    background-color: #39a493;
    height: 50px;
    width: 100px;
    text-align: center;

}

b {
    font-weight: bold;
    font-family: "Open Sans";
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    font-size: 18px;
    color: #292f36;
}

.goals p {
    margin-top: 10px;
}

.icons {
    background-color: #c8cdd0;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
}

.facebook {
    background-image: url(img/social-icons/F.png);
}

.twitter {
    background-image: url(img/social-icons/L.png);
}

.google {
    background-image: url(img/social-icons/g.png);
}

.dribbble {
    background-image: url(img/social-icons/D.png);
}

.behance {
    background-image: url(img/social-icons/e.png);
}

.linkedin {
    background-image: url(img/social-icons/I.png);
}

hr {
    background-color: #e1e6ea;
    margin-top: 100px;
}

.img-description {
    background-color: #e1e6ea;
    padding: 20px;
}

.img-card:hover .img-description {
    background-color: #3a454d;

}

.img-card:hover .job-title {
    color: white;
}

.img-card:hover .name {
    color: white;
}

.img-description p {
    margin: 0;
}

.img-description .job-title {
    font-size: 14px;
    color: #8d8f92;
    font-weight: 400;
    font-family: "Open Sans";
}

.img-description .name {
    font-size: 16px;
    color: #292f36;
    font-weight: 700;
    font-family: "Quattrocento Sans";
}

.our-team img {
    width: 100%;
}

.img-card {
    display: flex;
    flex-direction: column;
    position: relative;
}


.img-card:hover .social {
    display: block;

}

.img-card:hover .icons {
    background-color: #3a454d;
    width: 50px;
    height: 50px;
}

.img-card:hover img {
    opacity: 50%;
}

.social {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -25px;
    display: none;

}
@media(min-width:768px) {
    .col-sm-1 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .col-sm-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-2 {
        flex: 0 0 33.3334%;
        max-width: 33.3334%;
    }

    .col-sm-4 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .menu {
        overflow-x: auto;
    }

    .logo a {
        vertical-align: start;
        margin-left: -30px;
    }

    .header .main-menu ul {
        justify-content: flex-start;
    }

    .banner {
        background-size: cover;
        padding-left: 50px;
    }

    .section-header {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .welcome-text {
        height: auto;
        padding: 100px 0;

    }

    hr {
        margin-top: 50px;
    }

    .about p {
        text-align: justify;
    }

    .our-team .row {
        flex-wrap: wrap;
    }

    .img-card {
        margin-bottom: 20px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }


}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/*for mobile*/
@media(max-width:768px) {
    .hide-xs {
        display: none;
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .logo {
        text-align: center;
        margin-top: 15px;
    }

    .menu {
        overflow-x: auto;
    }

    .header .main-menu ul {
        justify-content: flex-start;
    }

    .welcome-text {
        height: auto;

    }

    .welcome-text h2 {
        margin-top: 20px;
        text-align: center;
    }

    .btns {
        margin-bottom: 20px;
    }

    .row {
        flex-wrap: wrap;
    }

    .section-header {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .about p {
        text-align: justify;
        text-indent: 20px;
    }

    .button-group {
        margin-bottom: 20px;
    }

    hr {
        margin-top: 0;
    }

    .img-description {
        margin-bottom: 20px;
    }

    .img-description p {
        text-align: center;
    }

    .banner {
        background-size: cover;
        background-position: center top;
        padding-left: 50px;
    }
}